*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
.navhead{
	height:50px;
	line-height: 40px;
	background: #e0e0e0;
}
.navhead .selectlange{
	float: right;
	height: 40px;
	margin: 5px 10px;
}
.navhead .selectlange select{
	border: none;
	height:30px;
	width:auto;
	padding: 0 20px;
	font-size: 16px;
	text-align: center!important;  
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none; 
}
.navhead .selectlange select option{
	text-align:center;
}
/*清除IE的默认选择框样式清除，隐藏下拉箭头*/
.navhead .selectlange select::-ms-expand {
	display: none;
}
.navhead .selectlange button{
	border: none;
	height:30px;
	width:auto;
	padding: 0 20px;
	font-size: 16px;
	background: #fff;
}
.loginForm{
	width:400px;
	margin: 20px auto;
	background: #e0e0e0;
}
.loginForm .loginFormTitle{
	font-size: 20px;
	text-align: center;
	height:60px;
	line-height: 60px;
	font-weight: 500;
}
.loginForm .userName{
	padding: 10px 0px;
}
.loginForm .userName label{
	display: inline-block;

	font-size: 14px;
	padding: 5px 10px;
	width: 65px !important;
	text-align: right;
}
.loginForm .userName input{
	display: inline-block;
	
	font-size: 14px;
	padding: 5px 10px;
	width: 255px;
}
.loginForm .userName .forgetpassword{
 	float: right;
 	height: 20px;
 	font-size: 12px;
 	color: #999;
 	padding-right: 40px;
 }
.loginForm  .login{
 	width: 380px;
 }
.loginForm .login button{
	width: 100px;
	height: 40px;
	margin-left: 140px;
	background: none;
	border: none;
	box-shadow: none;
	background: #DEB887;
	color: #fff;
	font-size: 18px;
}

.loginForm .userName .register{
	width: 380px;
	font-size: 16px;
	color: burlywood;
	text-align: center;
}
