<div>
	<div class="navhead">
	  <label class="selectlange">
	    <select #langSelect (change)="changeLang(langSelect.value)">
	      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
	        {{ lang | translate}}
	      </option>
	    </select>
	  </label>
	  <label class="selectlange">
	  	<button>{{ 'login' | translate }}</button>
	  </label>
	  
	</div>
	<div class="loginForm">
		<p class="loginFormTitle">{{'loginAccount' |translate  }}</p>
		<form action=""  >
			<div class="userName">
				<label for="">{{'user'|translate}}</label>
				<input type="text" id="" value="" placeholder="{{'yourusername'|translate}}"/>
			</div>
			<div class="userName">
				<label for="">{{'password' | translate}}</label>
					<input type="text" id="" value="" placeholder="{{'password' | translate}}"/>
					<p class="forgetpassword">{{'forgetpassword'| translate}}</p>
			</div>
			<div class="userName login">
				<button>{{ 'login' | translate }}</button>
			</div>
			<div class="userName">
				<p class="register">{{'Notregistered'| translate }}？<a href="">{{'registered' | translate }}</a></p>
			</div>
		</form>
	</div>
	
 	<!--<h2>{{ title | translate }}</h2>
  <div class="box-top">
	  <div [ngStyle]="setStyle()">ngStyle</div>
	</div>-->
</div>